package {{ .Env.SAFENAME }}_test

import (
    "testing"

    "github.com/{{ .Env.OWNER }}/{{ .Env.NAME }}"
)

func TestPlaceholder(t *testing.T) {
    if {{ .Env.SAFENAME }}.Placeholder() != 2 {
        t.Fatal("Expected a placeholder value of 2")
    }
}